<% layout('layout') -%>
<h1>Account Settings</h1>
<%- include('../partials/flash-message') %>
<%- include('../partials/form-errors') %>
<form action="/user/settings" method="POST">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <div><label>Username</label>
    <input name="username" value="<%= user.username %>" minlength="3" maxlength="20" required>
  </div>
  <button>Save Changes</button>
</form>
